body{
    margin: 0;
    padding: 0;
}

/* header part */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header, .footer{
    background-color: #1f2937;
}


.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    list-style-type: none;
    display: flex;
}

.header-links li{
    margin-right: 10px;
    color: #e5e7eb;
    font-size: 18px;
}

/* upper main part */
.main-body{
    background-color: #1f2937;
    display: flex;
    flex: 1;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 86px;
}

.main-body h1, .main-body h4{
    color: #F9FAF8;
    margin: 0;
}

.main-body h1{
    font-size: 48px;
}

.main-body button{
    margin-top: 10px;
}

.main-body img{
    max-width: 400px;
    height: auto;
}

.info{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.info button{
    max-width: 100px;
    background-color: #f40;
    color: #F9FAF8;
    border-color: #f40;
    border-radius: 5px;
    
}

/* first content part */

.content-first img{
    height: auto;
    width: 100px;
}

.content-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.content-first h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.images{
    display: flex;
    gap: 32px;
    padding: 32px;
}

.img-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 16px;
}

.images strong{
    color: #f40;
}


/* second content part */
.content-second{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 200px;
    gap: 16px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author{
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
}


/* third content part */
.content-third{
    margin: 100px;
    border-radius: 5px;
    background-color: #f40;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-third .text{
    margin: 32px;
    color: white;
}

.content-third h5{
    margin: 0;
    font-size: 18px;
}

.content-third button{
   padding: 8px 24px;
   border-radius: 5px;
   background-color: #f40;
   border-color: #F9FAF8;
   color: #F9FAF8;
   font-weight: 700;
}


/* footer part */

.footer{
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#e5e7eb;
}



